.swiper-container {
	// border: 3px solid lightcoral;
	// background: lightcoral;
	
	min-height: calc(100vh - 120px);
	margin-top: 20px;
	
	@media only screen and (min-width: 991px) {
		display: flex;
		align-items: center;
	}
}

	
.mySwiper {
	// border: 3px solid blue;
	// background: blue;

	opacity: 0;
	transition: 0;
	transition-delay: 0;

	&.loaded {
		opacity: 1;
		transition: .4s;
		transition-delay: 0.1s;
	}

	
	.swiper-wrapper {
		// border: 3px solid red;
		// background: red;

		.swiper-slide {
			// border: 3px solid green;
			// background: green;

			box-sizing: border-box;
			padding: 0;
		
			text-align: center;
			font-size: 18px;
		
			video {
				// border: 4px solid purple;
				// background: greenyellow;
				
				
				aspect-ratio: 1 / 1;
				@media all and (min-width: 991px) {
					aspect-ratio: 16 / 9;
				}

				margin: 0 auto;

				height: auto;
				display: block;
				
				&::-internal-media-controls-overlay-cast-button {
					display: none; // Remove cast button on videos
				}		
			}


			.title {
				// background: cyan;
				margin: 0;
				padding: 10px 0;
				min-height: 60px;
				
				h5 {
					font-family: "BaskervilleMTStd-Regular", sans-serif;
					font-weight: 400;
					font-size: clamp(18px, calc(1vw * 2.4), 24px);
					line-height: 140%;	
				}
			}
		}
	}






	.swiper-pagination { // H = 30
		// background: lime;
		
		position: relative;
		bottom: initial;

		--swiper-pagination-bullet-size: 12px;
		--swiper-pagination-bullet-inactive-opacity: 1;
		--swiper-pagination-bullet-inactive-color : none;

		--swiper-pagination-bullet-opacity: 1;
		--swiper-pagination-color: #000000;

		.swiper-pagination-bullet {
			border: 1px solid var(--swiper-pagination-color);
		}
	}




	.swiper-button-prev,
	.swiper-button-next {
		// background: blue;

		top: calc(50% - 45px); // (60+30)/2
		padding: 10px 5px;
		width: (calc(var(--swiper-navigation-size)/ 44 * 27) + (5px + 5px));
		height: calc(var(--swiper-navigation-size) + (10px + 10px));


		
		display: none;
		color: black;
		--swiper-navigation-size: 25px;
	}

}








@media all and (min-width: 991px) {
	.mySwiper {
		.swiper-wrapper {
			.swiper-slide {
				padding-left: calc((var(--swiper-navigation-size)/ 44 * 27) + 10px);
				padding-right: calc((var(--swiper-navigation-size)/ 44 * 27) + 10px );

				video {
					max-height: calc(100vh - (100px + 30px + 60px));
				}
			}

			.title {
				min-height: 60px;
			}
			
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: block;
			color: black;
			--swiper-navigation-size: 25px;
		}

		.swiper-pagination {
			.swiper-pagination-bullet {
				border: 2px solid var(--swiper-pagination-color);
			}
		}
	}
}




@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
	.swiper-container {
		align-items: flex-start;
	}
}


